/* You can add global styles to this file, and also import other style files */

/*side bar*/
/* backdrop for sidebar container */
.ng-sidebar__backdrop {
    background-color: rgb(161, 90, 228)!important;
}

/* aside tag */
.sidebar {
    background-color: #9e3c3c;
    width: 30vw;
}
